@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    font-family: "Martel Sans";
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;

}

.main {
    width: 95vw;
    margin: auto;
  
    
}

.header {
    
    display: flex;
    align-items: center;
      position:fixed;
  background-color: black;
   width: 100%;
   height: 50px;
   padding-top: 10px;
   
}

.backfake{
    width: 100%;
    height: 60px; ;
}

.header img {
       width: 100px;
    margin-left: 50px;

}

.header ul {
    display: flex;

}

.header li {
    list-style: none;
    padding-left: 100px;
}

.header span {
    align-items: center;
}

.myp {
    display: flex;
    position: absolute;
    right: 40px;

}

.dimg {
   
 
    width: 100%;
    height: 85vh;
    margin: auto;
    background-image: url("https://images.ctfassets.net/4cd45et68cgf/7JiW5JIJZaNi0LBJXQCuON/28ee69e49f0ca93e29adc4464e82f358/EN-US_MyNameS1_Teaser_Solo_Horizontal_RGB_PRE.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    


}
.dimg button{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid rgb(2, 1, 1);
    width: 150px;
    height: 50px;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 30px;
    
    align-items: center;
   margin-top: 68vh;
   margin-left: 8vw;
}

.cards{
    display: flex;
    gap: 10px;
}


.card{
    cursor: pointer;
    height:235px;
    width: 160px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 10px;
   margin-top: -20px;
   
}

.card:hover{
    border: 2px solid rgb(251, 32, 32);
  
    box-shadow: 6px 6px 6px 6px 60px #ff2020;
}


.pocard{
   background-image: url("https://images.ctfassets.net/4cd45et68cgf/4g2KWWsb3asC3VQVYS2eSs/3d1520b9ef5dac16f7ee6b06da3b3e73/DE_1899S1_Main_Vertical_27x40_RGB_PRE.jpg?w=2000");
   
}

.tncard{
    background-image: url("https://images.ctfassets.net/4cd45et68cgf/50hduQ1VXIN9MGR5g0hv3b/3de264143af98e088ebcddde196db4cc/The8thNight_Teaser_Vertical_RGB_PRE_EN-US.jpg?w=2000");
}

.nrcard{
   
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpx_Fd3J6B5i_qFjtdszGNwEAzRIE0qJ6yHvwOuLvlqg&s");
}

.fucard{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuF3HIb504uSxFxlRme1l7FypC8HM8KW3iyRvLTW-4Ag&s");
}

.kgcard{
    background-image: url("/assets/poster/kgfchapter1.jpeg");
}


.footer{
    background-color: rgb(43, 41, 41);
    width: 96%;
    height: 30px;
    align-items: center;
    border-radius: 5px;  
    position: fixed; 
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fakefoot{
    height: 35px;

}

.footer ul{
    display: flex;
    
    
}

.footer li{
    
list-style: none;
padding-left: 5vw;
}

.svg-text{
    align-items: center;
    justify-content: center;
    display: flex;
}
.cur-point{
    cursor:pointer;
}